
.notification{
    position:fixed;
    bottom:20px;
    right:20px;
    width:40%;
    display:none;
}

.notification.open{
    display:block;
}

.notification .notifier-close{
    display:block;
    padding:5px 10px;
}

.list-messages{
    list-style:none;
    max-height:250px;
    overflow-y:auto;
    padding:10px;
}
