form{
	margin-top:20px;
}

.dropbox{
	padding:20px;
	border:10px dashed rgba(86,61,124,.15);
}

.dropbox input[type=file]{
	display:none
}

.dragover{
	border-color:#5cb85c;
}

.title{
	text-transform:capitalize;
}

.dropped label{
    display:none;
}

.dropped{
    border:none;
}

.dropped:before{
    content:'✔';
    font-size:60px;
    color:green;
}
